/* تصميم هيكل الصفحة */
body { 
    font-family: Arial, sans-serif;
    background: color #f4f1c9;;
    margin: 0;
    padding: 0;
  }
  /* البانر الخاص ب الصفحة */
  #banner{
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgcDkYMGWYwFEoLe5Z7T4tGI7w7mAXfvTF2g&s);
    background-position: center;
    background-size: cover;
    padding: 40px;
    font-size: larger;
    font-weight: 200;
    border: 3px solid;
    font-size: 2.5rem;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    border: 0.25rem solid #39FF14;
  }
    
 
  /* تصميم وتنسيق الهيدر */
  header {
    background: linear-gradient(#76c7c0 9%, #B2DCEF 91%);
    color: rgb(8, 8, 8);
    padding: 10px;
    text-align: center;
  }
  
  nav a {
   
    margin: 10px;
    color: rgb(3, 3, 3);
    text-decoration: none;
    
  }
  /* تنسيق المقدمة  */
  #introduction{
   text-align: center;
   background-color: #39FF14;
   background-position: center;
   padding: 50px;
   border-radius: 15px;
   border: 1px solid;
   margin-top: 25pxS;
   
  } 

  /* تنسيق الصندوق اللي فيه الصور بتاع الرخويات  */
  .type-container{
    width: 90%;
    margin: auto;
    background-color: #39FF14;
    border: 0.5px solid;
    padding: 40px;
    border-radius: 40px;
  }
 
  /*  التنسيق الرئيسي وحجم وترتيب الصور */
  main {
    padding: 25px;
    font-size: 20px;
  }
  /* استكمال التنسيق بتاع الصندوق وشكل الصور هتكون معروضة ازاي  */
  .type-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
  }
  /* تنسيق الحجات نفسيها اللي جواها الصور  */
  .type-box {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    width: 200px;
    border-radius: 10px;
  }
  /* تنسيق الصور ف الصندوق */
  .type-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  /* تنسيق جزء التشريح */
#anatomy{
  background-color: #39FF14;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 2px;
  margin-top: 30px;
  border-radius: 20px;
  border: 2px solid #39FF14;
}
/* تنسيق جزء الحقائق */
#facts{
  background-color: #39FF14;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 2px;
  margin-top: 30px;
  border-radius: 20px;
  border: 2px solid #ffeb3b;
}
/* conclusion تنسيق جزء ال */
#conclusion{
  background-color: #39FF14;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 2px;
  margin-top: 30px;
  border-radius: 20px;
  border: 2px solid #ffeb3b;
}
/* اخر حاجه تنسيق الفوتر */
footer {
  background-color: #00bcd4;
  color: rgb(3, 3, 3);
  text-align: center;
  padding: 10px;
  margin-bottom: 2px;
}